<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AdamWrobel Portfolio Website</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../img/adamWrobelLogo.jpg" alt="">
            </div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="../../index.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="../../index.html#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="../../index.html#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="../../index.html#work" class="nav__link">My Work</a></li>
                </ul>
            </nav>
        </header>
        

        <section class="intro">
            <h1 class="section__title section__title--intro">
                The Smart <strong>ToDo</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">HTML5, CSS3, JS App</p>
            <img src="../img/img_portfolio/Todo_App.png" alt="" class="intro__img">
        </section>
        
        <div class="portfolio-item-individual">
            <p>With this classic ToDo application, the user can easily manage daily tasks. The application allows to add new, or edit and / or delete existing tasks.</p>
            <ul>
                <li>Link: <a class="portfolio-link" href="https://mahir33.github.io/Todos_App_Portfolio/">ToDo App</a></li>
                <li>Link: <a class="portfolio-link" href="https://github.com/Mahir33/Todos_App_Portfolio">GitHub source code</a></li>
            </ul>
            <img class="portfolio-item-img-scale" src="../img/img_portfolio/Todo_code.png" alt="This is a scroonshoot of the code for The Weather App coded by Adam Wrobel">
            
            <p>How to use:</p>
                <ol>
                    <li>Enter the name of the todo.</li>
                    <li>Click "add" button.</li>
                    <li>If the task is completed, click the blue button "completed".</li>
                    <li>If you want to edit todo, click "EDIT" button.
                        <ul>
                            <li>Edit existing todo text, then click the "CONFIRM" button.</li>
                            <li>If you want to cancel the changes, click the "CANCEL" button.</li>
                        </ul>
                    </li>
                        
                    <li>If you want to delete todo, click the red button "delete".</li>
                </ol>
        </div>
        
        
        <!-- Footer -->
        <footer class="footer">
            <!-- <a href="mailto:adam.marek.wrobel@gmail.com" class="footer__link">adam.marek.wrobel@gmail.com</a> -->
            <p>adam.marek.wrobel@gmail.com</p>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/adam-wrobel-80802a20a/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/Mahir33" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </footer>
        
        
        <script src="../js/index.js"></script>
        
    </body>
</html>